thead.officeuiExtension > tr > th {
    border: 1px solid #eaeaea;
}

    thead.officeuiExtension > tr > th.officesortable:hover {
        background-color: #f4f4f4;
        cursor: pointer;
        outline: 1px solid transparent;
    }

thead.officeuiExtension > tr:hover {
    background-color: unset !important;
    cursor: unset !important;
    outline: unset !important;
}

div.officeuiExtension-table-wrapper {
    position: relative;
    overflow:auto;
}
thead.officeuiExtension > tr > th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000000000000000000000000;
}

th > div.colresize {
    top: 0;
    right: 0;
    width: 5px;
    position: absolute;
    cursor: col-resize;
    /* background-color: red; */
    user-select: none;
    height: 100%;
}

    th > div.colresize:hover {
        border-right: 2px solid #eaeaea
    }

.ms-Table > tbody > tr:hover {
    background-color: #f4f4f4;
    cursor: pointer;
    outline: 1px solid transparent;
}
.officeui-table-footer {
    height: 2rem;
    width: 100%;
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f4f4f4;
    padding-left: 5px;
}
.officeui-table-pagingIcon {
    cursor: pointer;
    margin-right: 5px;
    color: black;
}
.officeui-table-pagingIcon-disabled {
    cursor: auto;
    margin-right: 5px;
    color:lightgray;
}
